{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My List</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
            </thead>
            <tbody>
                {% for list in todo_lists %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</main>
{% endblock %}
